body{
    background-color: #000000;
    color: #ddd;
}

*{
    box-sizing: border-box;
}


div.content{
    max-width: 300px;
    margin: 20px auto;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    padding-top: 80px;
    z-index: 1;
    zoom: 150%;
}



form{
    border: 3px solid #30313D;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

form input[type="text"] {
    background: none;
    border: 0;
    border-radius: 10px;
    padding: 0 8px;
    display: block;
    width: 100%;
    color: white;
}

form button{
    background-color: #49628C;
    border:0;
    border-radius: 6px;
    cursor: pointer;
}

div.task{
    background-color: #30313D;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    transition: opacity .3s linear;
    align-items: center;
}

div.task svg{
    height: 20px;
    margin-right: 6px;
    fill: #49628C;
}

div.task.done{
    opacity: 0.3;
}

div.task-name{
    flex-grow: 1;
}

div.task span{
    position: relative;
    flex-grow: 1;
}

div.task span:before{
    content: "";
    display: block;
    width: 0;
    height: 1.4px;
    background-color: #ddd;
    position: absolute;
    top: 10px; 
    transition: width .14s linear;  
}

div.task.done span:before{
    width: 100%;
}

h1, h2{
    text-align: center;
}

div.checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}

button.trash{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

button.trash svg{
    fill: #888;
    height: 14px;
}

button.clear{
    background-color: #49628C;
    border:0;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px 9px;
    margin-top: 8px;
    margin-left: 70%;

}

div.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
